body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row {
  display: flex;
}

/* 
.MuiBox-root {
  display: flex;
  justify-content: center;
} */

#Canvas {
  padding:10%;
  justify-content: space-between;
}

#boxOne {
  justify-content: space-between;
}

#modalButtons {
    /* vertical-align: auto; */
    /* display: block; */
    /* display: inline-block; */
    /* background-color: brown; */
    vertical-align: bottom;
    align-items:center;
    height: 100%;
}

#create {
  display: flex;
  justify-content: center;
  align-items: center;
}

#saveBtn {
  background-color: darkgreen;
}

#deleteBtn {
  background-color: crimson;
}

.pixel {
  width: 20px;
  height: 20px;
  border: .2px solid black;
  background-color: rgb(255, 255, 255)  
}